@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --text: #000000;
    --subtitle: #666666;
    --card: #cccccc;
    --border: #aaaaaa;
    --primary: blue;
    --secondary: purple;

    --focus-border: #99999999;
    --separator-border: #66666666;
  }

  :root[class~='dark'] {
    --background: #000000;
    --text: #ffffff;
    --subtitle: #999999;
    --card: #333333;
    --border: #666666;
    --primary: blue;
    --secondary: purple;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

body {
  background-color: var(--background);
}
